.elements__icon {
    max-width: 22px;
    height: 19px;
    width: 100%;
    background: url("../../../images/vector-icon.svg") center center no-repeat;
    margin-left: 16px;
}

.elements__icon:hover {
    cursor: pointer;
    opacity: 0.5;
}