.form__edit-input {
    padding: 0 0 13px 0;
    margin: 30px 0 0 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.form__edit-input:first-child {
    margin: 0;
}

.form__edit-input::-webkit-input-placeholder {color: #000000;}

.form__edit-input:-moz-placeholder {color: #000000;}

.form__edit-input::-moz-placeholder {color: #000000;}

.form__edit-input:-ms-input-placeholder {color: #000000;}

.form__edit-input::-ms-input-placeholder {color: #000000;}

.form__edit-input::placeholder {color: #000000;}