.elements__like {
    max-width: 22px;
    height: 19px;
    width: 100%;
    background: url("../../../images/vector-like.svg") center center no-repeat;
    margin-left: 16px;
    border: none;
    padding: 0;
}

.elements__like:hover {
    cursor: pointer;
    opacity: 0.5;
    transition-duration: .5s;
}